@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

:root{
    --Light-Cyan: hsl(193, 38%, 86%);
    --Neon-Green: hsl(150, 100%, 66%);
    --Grayish-Blue: hsl(217, 19%, 38%);
    --Dark-Grayish-Blue: hsl(217, 19%, 24%);
    --Dark-Blue: hsl(218, 23%, 16%)
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}

html,
body {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 0px;
}

body{
    background-color: var(--Dark-Blue);
}
main{
    display: flex;
    flex-direction: column;
    padding: 30px 50px;
    border-radius: 10px;
    text-align: center;
    background-color: var(--Dark-Grayish-Blue);
    max-width: 550px;
    width: fit-content;
    height: fit-content;
    margin: auto 20px;
}

.advice{
    color: var(--Neon-Green);
    text-transform: uppercase;
    word-spacing: 10px;
}

.advice_text{
    margin: 20px auto 0; 
    font-size: 28px;
    width: 100%;
    color: var(--Light-Cyan);
}

.divider{
    margin: 20px 0 30px;
    background-size: 100% 100%;
    width: 100%;
}
#dice{
    background-color: var(--Neon-Green);
    border-radius: 50%;
    padding: 15px 16px 12px;
    border: 0;
    cursor: pointer;
    margin: 0 auto -50px;
}
#dice img{
    width: 23px;
}
#dice:hover {
    box-shadow: 0 0 40px var(--Neon-Green);
}


/* Media Query */
@media (min-width: 375px) {
    main{
        margin: auto;
    }
}